body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Playwrite US Trad", cursive;
}

h2 {
    font-family: "Titillium Web", sans-serif;
}

.adicao {
    color: lightslategray
}

.diminuir {
    color: orangered
}

.multiplicar {
    color: teal
}

.dividir {
    color: maroon
}

.mediar {
    color: darkgreen
}

.iterar {
    color: darkblue
}

.main-estilo {
    width: 40%;
    display: block align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: khaki
}

.num1 {
    background-color: black;
    color: white
}

.num2 {
    background-color: black;
    color: white
}

.num3 {
    background-color: black;
    color: white
}

.num4 {
    background-color: black;
    color: white
}

.num5 {
    background-color: black;
    color: white
}

.num6 {
    background-color: black;
    color: white
}

.num7 {
    background-color: black;
    color: white
}

.num8 {
    background-color: black;
    color: white
}

.num9 {
    background-color: black;
    color: white
}

.num10 {
    background-color: black;
    color: white
}

.num11 {
    background-color: black;
    color: white
}

.num12 {
    background-color: black;
    color: white
}