body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Playwrite US Trad", cursive;
}

h2 {
    font-family: "Titillium Web", sans-serif;
}

.adicao {
    color: lightslategray
}

.diminuir {
    color: orangered
}

.multiplicar {
    color: teal
}

.dividir {
    color: maroon
}

.mediar {
    color: darkgreen
}

.iterar {
    color: darkblue
}

.main-estilo {
    width: 40%;
    display: block align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: khaki
}

.n1 {
    background-color: black;
    color: white
}

.n2 {
    background-color: black;
    color: white
}

.n3 {
    background-color: black;
    color: white
}

.n4 {
    background-color: black;
    color: white
}

.n5 {
    background-color: black;
    color: white
}

.n6 {
    background-color: black;
    color: white
}

.n7 {
    background-color: black;
    color: white
}

.n8 {
    background-color: black;
    color: white
}

.n9 {
    background-color: black;
    color: white
}

.n10 {
    background-color: black;
    color: white
}

.n11 {
    background-color: black;
    color: white
}

.n12 {
    background-color: black;
    color: white
}