* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url("../imagens/dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto; 
    width: 100vw;
    overflow-x: hidden;
    padding: 20px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.wrap-input {
    display: flex;
    gap: 1vw;
}

input {
    padding: 10px;
    min-width: 300px;
    border-radius: 999px;
    border: none;
    border: 2px solid #ffff;
    color: #ffff;
    background: none;
    font-size: 20px;
}

button{
    opacity: 0.7;
    padding: 10px;
    min-width: 322px;
    border-radius: 999px;
    border: none;
    border: 2px solid #ffff;
    background-color: #ffff;
    font-size: 20px;
}

button:hover{
    opacity: 1;
    cursor: pointer;
}

table{
    background-color: #742b04a3;
    padding: 10px;
    border-radius: 5px;
}

thead{
    text-align: left;
}